<h1>Shelter Detail</h1>

<h2>
    <%=shelter.name%>
</h2>

<p><%=shelter.address%></p>
<p><%=shelter.address_city%></p>
<p><%=shelter.address_state%></p>
<p><%=shelter.address_zip%></p>
<p><%=shelter.phone%></p>

<form method="POST" action="/shelters/?_method=DELETE">
    <input type="hidden" name="id" value="<%=shelter.id%>"><input type="submit" value="Remove from Saved Shelters">
</form>

