<h1>Shelter Detail</h1>

<h2>
    <%=shelter[0].name%>
</h2>

<p>
    <%=shelter[0].address%>
</p>

<p><%=shelter[0].addr%></p>
<p><%=shelter[0].street%></p>
<p><%=shelter[0].city%></p>
<p><%=shelter[0].state%></p>
<p><%=shelter[0].zip%></p>
<p><%=shelter[0].phone%></p>

<h2>Donations</h2>