<h1>Shelter Detail</h1>

<h2>
    <%=shelter[0].name%>
</h2>

<p><%=shelter[0].street%></p>
<p><%=shelter[0].city%></p>
<p><%=shelter[0].state%></p>
<p><%=shelter[0].zip%></p>
<p><%=shelter[0].phone%></p>

<form action="/shelters" method="POST">
    <input type="hidden" name="name" value="<%=shelter[0].name%>">
    <input type="hidden" name="detail" value="<%=shelter[0].detail%>">
    <input type="hidden" name="phone" value="<%=shelter[0].phone%>">
    <input type="hidden" name="address" value="<%=shelter[0].street%>">
    <input type="hidden" name="address_city" value="<%=shelter[0].city%>">
    <input type="hidden" name="address_state" value="<%=shelter[0].state%>">
    <input type="hidden" name="address_zip" value="<%=shelter[0].zip%>">
    <input type="submit" value="Add to Saved Shelters">
</form>