<h1>Edit Clothing Detail</h1>

<form action="/clothing/<%=clothing.id%>/?_method=PUT" method="POST">
    <input type="hidden" name="id" value="<%=clothing.id%>">

    <label for="style">Clothing Description</label>
    <input type="text" name="style" value="<%=clothing.style%>" required>

    <label for="status">Status</label>
    <select name="status" value="<%=clothing.status%>">
        <option value="KEEP" selected>KEEP</option>
        <option value="DONATE">DONATE</option>
        <option value="TRASH">TRASH</option>
    </select required>

    <label for="category">Clothing Type</label>
    <input type="text" name="category" value="<%=clothing.category.name%>">

    <label for="color">Color</label>
    <input type="text" name="color" value="<%=clothing.color%>">

    <label for="brand">Brand</label>
    <input type="text" name="brand" value="<%=clothing.brand%>">

    <label for="material">Material</label>
    <input type="text" name="material" value="<%=clothing.material%>">

    <label for="condition">Condition</label>
    <input type="text" name="condition" value="<%=clothing.condition%>">

    <input type="submit" value="Update">
</form>